<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns="https://www.w3.org/1999/xhtml">
    <head>
        <title>Modify</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Datos De La Persona</h1>
        <a th:href="@{/}">Regresar</a>
        <br>
        <form th:action="@{/save}" method="post" th:object="${person}">
            <input type="hidden" name="idPerson" th:field="*{idPerson}"/>
            <label for="name">Nombre: </label>
            <input type="text" name="name" th:field="*{name}"/>
            <br>
            
            <label for="lastname">Apellido: </label>
            <input type="text" name="lastname" th:field="*{lastname}"/>
            <br>
            
            <label for="email">Email: </label>
            <input type="email" name="email" th:field="*{email}"/>
            <br>
            
            <label for="phone">Telefono: </label>
            <input type="text" name="phone" th:field="*{phone}"/>
            <br>            <br>
            <input type="submit" name="save" value="Guardar"/>
        </form>
    </body>
</html>
